.place__url-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  transition: opacity 0.3s;
}

.place__url-link:hover {
  opacity: 0.8;
}
