.intro {
  padding: 92px 48px 0;
  margin: 0 auto;
  display: flex;
  max-width: 984px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 920px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    padding: 64px 16px 0;
  }
}
